--Atajo de shiftlock con la tecla CTRL.

local Input = game:GetService("UserInputService")
local V = false

local main = script.Parent

Input.InputBegan:Connect(function(input)
    if input.KeyCode == Enum.KeyCode.LeftControl then
        V = not V
        if V then
            ForceShiftLock()
            -- Bloquear el mouse en el centro cuando se activa el ShiftLock
            game:GetService("UserInputService").MouseBehavior = Enum.MouseBehavior.LockCenter
        else
            EndForceShiftLock()
            -- Desbloquear el mouse cuando se desactiva el ShiftLock
            game:GetService("UserInputService").MouseBehavior = Enum.MouseBehavior.Default
        end
    end
end)

local g = nil
local GameSettings = UserSettings():GetService("UserGameSettings")
local J = nil

function ForceShiftLock()
    local i, k = pcall(function()
        return GameSettings.RotationType
    end)
    _ = i
    g = k
    J = game:GetService("RunService").RenderStepped:Connect(function()
        pcall(function()
            GameSettings.RotationType = Enum.RotationType.CameraRelative
        end)
    end)
end

function EndForceShiftLock()
    if J then
        pcall(function()
            GameSettings.RotationType = g or Enum.RotationType.MovementRelative
        end)
        J:Disconnect()
    end
end



--Funcion para de "/" como atajo para escribir en el chat de roblox.



-- Función para activar el chat cuando se presiona "/"
local function ActivarChat()
    -- Obtener el servicio de UserInput
    local userInputService = game:GetService("UserInputService")
    
    -- Simular la pulsación de la tecla "/"
    userInputService.TextBoxFocused:Connect(function(textBox)
        if textBox and textBox:IsA("TextBox") then
            -- No hacer nada si ya está en un TextBox
            return
        end
        
        -- Activar el chat
        userInputService:SetGlobalGuiInset(UDim2.new(0, 0, 0, 36))
        userInputService.OverrideTextBox = nil
        userInputService:SendKeysPressed("/")
    end)
end

-- Detectar cuando se presiona la tecla "/"
game:GetService("UserInputService").InputBegan:Connect(function(input, gameProcessed)
    if input.KeyCode == Enum.KeyCode.Slash then
        ActivarChat()
    end
end)
